# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
deploy.sh

# debug
npm-debug.log*

# env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# data
/data/uploads/*
!/data/uploads/.gitkeep
/data/*.db
/data/*.db-journal
/data/*.db-shm
/data/*.db-wal
